
.app {
	background: white; 
	min-height: 100vh;
	width: 600px;
	margin-top: 20px;
	padding: 20px;
	color: rgba(48, 64, 64, 1.0);
	border-radius: 30px;
    border: 2px solid #6ac1eb;
}
button {
	height: fit-content;
	cursor: pointer;
	color: #04202c;
	background: #c9d1c8;
}
.input-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 0px 10px 0px;
}
.input-header input {
	width: 250px;
	font-family: inherit;
	border: 3px solid #19547b;
	border-radius: 10px;
	padding: 10px;
	outline: none;
}
.input-header button {
	color: #5b7065;
	background: none;
	font-family: inherit;
	border: 1px solid rgba(48, 64, 64);
	padding: 10px;
	border-radius: 10px;
}
.input-header button:hover{
	background: none;
	border: 4px solid #19547b;
	color: #19547b;
	font-size: 20px;
}
.to-do-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 24px;
}

.to-do-list .deleteBtn{
	fill: #56ff03;
	cursor: pointer;
}

.to-do-list .editBtn {
	fill: #de4437;
	cursor: pointer;
}

.to-do-list button {
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
	border: 5px solid;
	background: white;
	color: #19547b;
}
.to-do-list button:hover{
	color:navy;
	background: white;
}
.item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #5b7065;
	border-radius: 10px;
	padding: 8px;
	box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
}
.input-controller {
	display: flex;
	gap: 10px;
}
.input-controller textarea {
	width: 100%;
	outline: none;
	border: none;
	resize: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
	background-color: transparent;
	font-size: 18px;
	transition: all 0.30s ease-in-out;
}
textarea:focus {
	box-shadow: 0 0 5px white;
	background: black;
}
.edit-controller {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.update-controller {
	display: none;
}

@media(max-width: 768px) {
.app {
	width: 95%;
	text-align: center;
	}

	.input-header {
	flex-direction: column;
	padding-bottom: 20px;
	}

	.input-header {
	display: flex;
	}

	.input-header input {
	width: 300px;
	}
}